.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formButton {
  margin: 6px;
  margin-top: 16px;
}

.formText {
  margin: 0;
  margin-top: 12px;
}

.form {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  padding: 16px;
}

.signupForm {
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 16px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
